	<th>
		<span class="toggle">{{title}}</span>
		<span class="toggle" style="display: none">
            <input type="text" id="title" class="form-control" value="{{{title}}}"/>
            </span>
	</th>
	<th>
		<span class="toggle">{{login}}</span>
		<span class="toggle" style="display: none">
            <input type="text" id="login" class="form-control" value="{{{login}}}"/>
            </span>
	</th>
	<th class="col-md-3">
		<span class="toggle">
            <input class="pass-masked" id="password-masked" type="password" name="password" id="password" value="{{{password}}}" readonly="readonly" />
            <input class="pass-masked" style="display: none" type="text" name="password" id="password" value="{{{password}}}" readonly="readonly" />
            </span>
		<span class="toggle" style="display: none">
            <input type="text" id="password" class="form-control" value="{{{password}}}"/>
            </span>

	</th>
	<th>
		<span class="toggle">{{detail}}</span>
		<span class="toggle" style="display: none">
            <input type="text" id="details" class="form-control" value="{{{detail}}}"/>
            </span>
	</th>
	<th class="col-md-2">
		<div >
			<div class="toggle">
				<button type="button" id="edit" class="btn btn-default btn-sm">Edit</button>
				<button type="button" id="remove" class="btn btn-default btn-sm">Remove</button>
			</div>
			<div class="toggle" style="display: none">
				<button type="button" id="save" class="btn btn-default btn-sm">Save</button>
				<button type="button" id="edit" class="btn btn-default btn-sm">Cancle</button>
			</div>
			<div>
	</th>
